@font-face {
    font-family: 'ChaletComprime';
    src: url(../fonts/ChaletComprime\ CologneSixty.ttf);
}

@font-face {
    font-family: 'Chalet';
    src: url(../fonts/chalet_londonnineteensixty.otf);
}